 
        .form-label{
            font-size: 16px;
            font-weight: 600;
        }
        
        .form-control {
           
            border-radius: 7px !important;
            padding: 10px !important;
            border-bottom: 1px solid var(--primary-color) !important ;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
            background-color: #F5F5F5 !important;
          
        }
        
      
        .btn {
            background-color: var(--primary-color);
            border: none;
            color: #212529;
            border-radius: 5px;
            padding: 10px 20px;
        }
        .btn:hover {
            background-color: var(--primary-color);
        }
        
        .contact-info {
            background-color: var(--primary-color);
            padding: 45px;
            border-radius: 10px;
            color: #212529;
        }
        .reliable-contect{
            margin-top: 20px !important;
            font-size: 18px;
            font-weight: 600;
        }
        .contact-info h3 {
            font-size: 24px;
            font-weight: bold;
        }
        .call-no{
            margin-top: 45px !important;
            font-size: 18px;
            font-weight: 600;
        }
       .email-line{
        margin-top: 45px !important;
        font-size: 18px;
        font-weight: 600;
       }
       .addres-line{
        margin-top: 45px !important;
        font-size: 18px;
        font-weight: 600;
       }
        .contact-info i {
            font-size: 20px;
            margin-right: 10px;
            color: #212529;
        }
        .send-butn{
            background-color: var(--primary-color);
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
        }
       .google-map{
       
        width: 100%;
        border-radius: 10px;
        height: 400px;

       }

       .footer {
        padding: 20px 0;
    }
    .footer-heading{
        font-size: 24px;
        font-weight: 600;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-link {
        width: 50%; /* Adjust width as needed */
    }
    
    .footer-link a {
        color: #333;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }
    .footer-social {
        display: flex;
    }
    .footer-social a {
        margin-right: 15px;
        color: #333;
    }
    .footer-newsletter {
        width: 40%; /* Adjust width as needed */
    }
    .footer-newsletter input[type="email"] {
        padding: 6px 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }
    .footer-newsletter button {
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px 20px;
        white-space: nowrap;
    }